<% provide(:title, 'About Us') %>
<div class="center">
<h1>About Us</h1>
</div>
<br><h2>We are a small and friendly guesthouse in the city centre of Southampton, United Kingdom, welcoming guests from all over the world</h2>
 
We are open all year, and all our rooms are non-smoking. We offer single, twin/double and triple rooms, with one twin/double room available with its own shower/wc pod. All our rooms are kept very clean and warm, with constant hot water available throughout the guest house.

Central city location
Online booking
All major credit and debit cards are accepted
Full English, fruits, cereal for breakfast
Free wireless internet for all guests
Early checkin on request
Late checkout on request
Special promotions

<h5>Room Facilities</h5>
Each room has a TV, and tea and coffee making facilities, with biscuits. The rooms also each have a wash basin, while the en-suite room consists of a shower/wc pod.

<h5>Car Parking</h5>
Please note that we are unable to offer private care parking facilities. There is however street parking and a number of spaces outside our premises subject to a maximum of 2 hour stay between 0800-1800 hours, Monday to Saturday.

<h5>Checkin/Checkout</h5>
You may checkin to our guest house from 12 noon on your day of arrival. We kindly ask our guests to checkout by 10 am on the day of departure. If you will be arriving earlier, please let us know.

<h5>Breakfast</h5>
Our breakfast menu includes a choice of fresh fruits, cereals, fruit juices and full English style breakfast. Breakfast is served between 7-8.15 am on weekdays, and 8-9 am on weekends. We also endeavour to accommodate on request, special dietary requirements or earlier breakfast times. <%= link_to "See the breakfast menu here", breakfast_path %></li>.

<h5>Internet</h5>
We offer to our guests free wireless access to the internet. Please ask on arrival for information required to connect. <%= link_to "Please read our internet usage policy here", internet_path %></li>.. 

<h5>Pay-phone</h5>
A pay-phone is also provided. 

<h5>Hair-dryer/Ironing</h5>
Hair-dryer and ironing facilities also available on request.

<br><br>
<b>Access Statement</b>
<%= link_to "please click here", access_path %></li>



