<% provide(:title, 'About Us') %>
<div class="center hero-unit">
<h1>About Us</h1>
</div>
Small and friendly guesthouse in the centre of Southampton
 
We are open all year, and all our rooms are non-smoking. We also offer free wireless internet access to all our guests.

We offer single, twin/double and triple rooms, with one twin/double room available with its own shower/wc pod. 

All our rooms are kept very clean and warm, with constant hot water available throughout the guest house.

Central city location

Online booking

All major credit and debit cards are accepted

Free wireless internet for all guests

Full English, fruits, cereal for breakfast

Early checkin on request

Late checkout on request

Special promotions

Room Facilities
Each room has a TV, and tea and coffee making facilities, with biscuits. The rooms also each have a wash basin, while the en-suite room consists of a shower/wc pod.

Car Parking
Please note that we are unable to offer private care parking facilities. There is however street parking and a number of spaces outside our premises subject to a maximum of 2 hour stay between 0800-1800 hours, Monday to Saturday.

Checkin/Checkout
You may checkin to our guest house from 12 noon on your day of arrival. We kindly ask our guests to checkout by 10 am on the day of departure. If you will be arriving earlier, please let us know.

Breakfast
Our breakfast menu includes a choice of fresh fruits, cereals, fruit juices and full English style breakfast. Breakfast is served between 7-8.15 am on weekdays, and 8-9 am on weekends. We also endeavour to accommodate on request, special dietary requirements or earlier breakfast times. See the breakfast menu here.

Internet
We offer to our guests free wireless access to the internet. Please ask on arrival for information required to connect. Please read our internet usage policy here. 

Pay-phone
A pay-phone is also provided. 

Hair-dryer/Ironing
Hair-dryer and ironing facilities also available on request.



