<% provide(:title, 'Access Statement') %>
<div class="center">
<h1>Access Statement</h1>
</div>

Our Access Statement
Please find outlined below information we hope will ensure you enjoy your visit at our guest house, regardless of whether you are affected in some way by a medical condition, disability, impairment, or specific learning difficulty. Wheelchair users should note that access to the ground floor room is only suitable for collapsible wheelchairs.
Prior to your arrival
✦Enquiries and reservations may be made by telephone or email.
✦Should you require a taxi to the guest house from Southampton Central Railway Station, it is about a 2-3 minute drive to us. If you do not have heavy luggage, it is about a 5 minute walk. We are about a 15-20 minute drive from Southampton Airport. 
✦We can provide you with telephone numbers for several reliable taxi companies in the area. They usually have vehicles suitable for wheelchairs if required.
✦Directions to us can be found on our website.

On arrival at the guest house
✦We do not have private parking facilities, but a number of parking places are available on the street and immediate area with free and restricted parking (2 hours) between 1600-0800 hours Monday-Saturday.
✦Entrance to the guest house is by way of one small step.
✦We are more than happy to help you with your luggage.

Reception area
We have a small reception area on the ground floor level as you enter the guest house. It is carpeted and
suitable for collapsible wheelchairs only.

Public areas
✦Our corridors are well lit and carpeted.
✦The breakfast room is also carpeted and is on the ground floor level behind our reception area.

Accommodation
✦We have one twin/double room (with shower/wc pod) located on the ground floor, and 8 other rooms split across 3 floor levels.
✦We do not have adapted bathrooms and grab rails are not in the bedrooms.

Fire alarm and Evacuation
✦The fire alarm system is bells and does not have flashing lights. Assistance is given if evacuation is necessary. The bells will ring continuously if evacuation is needed. If you require assistance for evacuating please notify us on arrival.
✦We are able to use the front and rear doors in the event of evacuation.

Additional information
Service dogs (only) are welcome.

We have tried to be as accurate as possible and have included as much detail as we can in this Access Statement, however we welcome your feedback to continuously improve on the information we provide. If you require further assistance please call us on 023 8022 0907 or email info@mayview.co.uk.