<% provide(:title, 'Book Online') %>
<div class="center hero-unit">
<h1>Book Online</h1>
</div>

If you are unable to secure the booking you require from our online booking system, or would like to speak with us first, please feel free to call us or send an email.

Please click on the button above to check room availability and make an immediate booking. 
The room rates will be displayed when you enter your requirements.  Please call for more details.
You can make your booking right now, and you will receive an email to confirm your reservation immediately. 
<br>

<li><a href="http://uk-bookings.eviivo.com/eviivo.Distribution.Presentation/MyWebsite/Details.aspx?ContentID=48510&amp;IndustryType=1">Book Now</a></li>

We accept most debit and credit cards.
<br>
<%= link_to image_tag("paymentlogo.jpg", alt: "Paymentlogo"), tarriffs_path %>

