<% provide(:title, 'About Us') %>
<div class="center">
<h1>Breakfast menu</h1>
</div>
<br><br>
<table>
	<tr>
    <td><%= link_to image_tag("combined2.tiff", alt: "diningoranges"), '' %>
	
	</tr>
</table>

<br>

<ul>
<li>Orange juice, choice of fresh fruits, yoghurt (available on request)</li>
<li>BulletChoice of cereals (Porridge available on request)</li>
<li>BulletFull English breakfast (fried egg, sausage, baked beans, tomato, bacon)</li>
<li>BulletToast</li>
<li>BulletTea/Coffee</li>
</ul>

<h5>
If you have any special diet requirements e.g. Vegetarian, please let us know, preferably when you are making your booking (or on arrival). We endeavour to do our best to accommodate all such requests, and in most cases, we are able to.
</h5>
