<% provide(:title, 'Access Statement') %>
<div class="center">
<h1>Driving directions</h1>
</div>

<br>FROM THE NORTH, M3 J13-14
<br>Take the A33 exit to Southampton
<br>At Chilworth Roundabout, take the 2nd exit onto Bassett Avenue
<br>Follow signs for “City Centre, Docks”
<br>on The Avenue
<br>Straight ahead at first roundabout
<br>Straight ahead at traffic lights, cross-junction
<br>Straight ahead at traffic lights, T-junction with Highfield Road
<br>Keep on left lane and continue on The Avenue
<br>Straight ahead at next cross-junction (Land Rover dealer on left)
<br>Keep on left lane (middle lane) and straight ahead at next Y-junction, still following A33 City Centre
<br>Straight ahead on Dorset Street
<br>At next roundabout (Charlotte Place, Jurys Inn), follow signs for Ring Road West
<br>Take 4th exit (Ring Road West) on to Brunswick Place
<br>Straight ahead at next traffic lights on to Cumberland Place
<br>Straight through next two traffic lights in quick succession and keep on right (inner lane)
<br>At next (4th) traffic lights, at sharp left bend, turn right on to Devonshire Road
<br>Turn immediate left on to The Polygon
<br>You will find us on the left a number of blocks down.
<br>
<br>FROM THE SOUTH, M27 J3
<br>Take the exit on to M271 Southampton
<br>At the next roundabout, take first exit, following signs for A33 City Centre, Docks
<br>Move to middle lane and go on the next flyover
<br>Go straight ahead at next cross-junction, traffic lights
<br>Go on the next flyover
<br>Keep to left lane, and follow signs to City Centre (Railway line on the left)
<br>Bear left on slip road,, and exit the road at the next cross-junction
<br>Go on bridge over the railway line
<br>Turn right (3rd exit) at the next roundabout, on to Commercial Road
<br>Go straight at traffic lights/T-junction (Hill Lane on the left)
<br>Go straight at next traffic lights/T-junction (Railway Station to the right)
<br>After traffic lights, take left on to Morris Road
<br>Go up the slight hill, bending right
<br>Take first right turn on to The Polygon
<br>You will find us further down the road on the right.
