<% provide(:title, 'About Us') %>
<div class="center">
<h1>Internet usage policy</h1>
</div>
<br><br>

We are able to offer free wireless access to the internet to all our guests. 

The current setup requires our guests’ computer to support the WPA-PSK(TKIP) security mode on their wireless adapter. We will provide the appropriate access key on request.

We operate a fair usage policy for internet access and reserve the right
to restrict or withdraw internet access in situations of excessive downloads.

We ask guests to please avoid downloading large content types such as audio and video files, as well as participating in online games.

We are confident that our guests will respect this policy and prevent
others from undue restrictions on their internet use.
