<% provide(:title, 'Tarriffs') %>
<div class="center hero-unit">
<h1>Tarriffs</h1>
</div>

Single room £30 per night
<br>
Twin room £50 per night
<br>
*Twin room en-suite £60 per night
<br>
*Double room en-suite £60 per night
<br>
Triple room £75 per night
<br>
If you have any questions or problems with making a booking, please contact us. 
Please note that the above rates are per room, and they include continental or full English breakfast.
<br><br>
* This room consists of a shower/wc
<br><br>

Please click here to go the booking
<li><%= link_to "Go to Booking page", book_path %></li>
