<% provide(:title, 'Welcome') %>
<div class="center">
</div>

<br><br>
<table>
	<tr>
    <td><%= link_to image_tag("front2.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
	<td>
	<td>
		<h2>023 8022 0907</h2>
	</td>
	</tr>
</table>
<br>
<h4>
3 Star Quality Bed and Breakfast in Southampton City Centre.
</h4>
We are a very friendly, clean and comfortable guest house located in the city centre of Southampton, on the south coast of England. We are close to the Southampton main railway station, coach station and docks, as well as the main Universities. You will also find us close to many of the fine shopping, restaurant and entertainment venues including the famous Mayflower Theatre and West Quay shopping centre.

We strive to ensure we offer all our guests very comfortable bed and breakfast facilities while staying with us.

We look forward to welcoming you to our guest house.

