<br>
<div class="table">
<h2>
<table>
<tr><td>Address</td><td>30 The Polygon, Southampton, SO15 2BN, U.K.</td></tr>
<tr><td>Telephone</td><td>+44 23 8022 0907</td></tr>
<tr><td>Mobile</td><td>+44 7973 874 194</td></tr>
<tr><td>Fax</td><td>+44 845 127 4055</td></tr>
<tr><td>Email</td><td><%= link_to "info@mayview.co.uk", "mailto:info@mayview.co.uk" %></td></tr>
<tr><td>Web</td><td><%= link_to "http://www.mayview.co.uk", "http://www.mayview.co.uk" %></td></tr>
</table>
</h2>
</div>

